@import '../../styles.scss';
section{
 @include d-flex($fd: column);
 margin-top: 80px;   

    h2{
        @include bigRed();
        margin-top: 100px;
    }
}
nav{
    @include d-flex;
    gap: 5%;
    margin-bottom: 5%;
}
button{
    cursor: pointer;
    border-color: #00f4bf;
    width: 130px;
    height: 82px;
    background-color: inherit;
    color: #E15544;
    font-size: 20px;

    &:hover{
        color: #00f4bf;
    }
    &:active{
        background-color: #00f4bf;
        color: #E15544,
    }

}

button.active {
    background-color: #00f4bf;
    color: #E15544;
    border-width: 2px;
    border-style: solid;
}

.singleProject:nth-child(even) {
    flex-direction: row-reverse;
}
// ------------------------Media Query
@media(max-width: 420px){
 button{
    width: 100px;
 }
}