@import '../../styles.scss';
section {
  @include d-flex($fd: column);
  margin-top: 80px;

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h2 {
    @include bigRed();
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
}

.singleProject:nth-child(even) {
    flex-direction: row-reverse;
}
// ------------------------Media Query----------------------------
  @media(max-height: 600px){
    section{
      margin-top: 100px;
    }
  }

@media(max-width: 510px){
  section{
   padding: 1%;
   width: 98%;
  }
 

}

@media(max-width: 420px){
 button{
    width: 100px;
 }
   header{
    @include d-flex($js: center, $ai: center);
    text-align: center;
  }
}