<section>
    <section class="contact">
        <div class="headline">
            <p>{{'contact' | translate}}</p>
            <img src="./assets/img/Arrow-curved.png" alt="">
        </div>
        <div class="information">
                <div class="textPart">
                    <p>{{'contactInfo' | translate}}</p>
                </div>
                <div class="contactInfo">
                    <div class="email">
                        Email: <a href="mailto:mail@jonas-mahlburg.de">mail&#64;jonas-mahlburg.de</a>
                    </div>
                    <div class="tel">
                        Tel: <a href="tel:+4917646703864">0176 467 038 64</a>
                    </div>
                </div>
        </div>
    </section>
    <div class="container">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="inputArea">
                <div class="smallInput">
                    <input [ngClass]="{redBorder: !name.valid && name.touched, greenBorder: name.valid && name.touched}"
                        #name="ngModel" [(ngModel)]="contactData.name" type="text" id="fname" name="firstname"
                        placeholder="{{'contactForm.namePlaceholder' | translate}}" required pattern="^[a-zA-Z]+( [a-zA-Z]+)?$">
                    <input
                        [ngClass]="{redBorder: !email.valid && email.touched, greenBorder: email.valid && email.touched}"
                        #email="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email"
                        placeholder= "{{'contactForm.emailPlaceholder' | translate}}" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>
                <textarea minlength="4"
                    [ngClass]="{redBorder: !message.valid && message.touched, greenBorder: message.valid && message.touched}"
                    #message="ngModel" [(ngModel)]="contactData.message" id="subject" name="subject"
                    placeholder="{{'contactForm.messagePlaceholder' | translate}}" style="height:200px" required></textarea>
            </div>

            <div class="submitArea">
                <div class="textAndCheckbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="privacyPolicyCheck" id="privacyPolicyCheck" value="privacyPolicy" required #privacyPolicyCheck="ngModel"  [(ngModel)]="contactData.privacyPolicyAccepted">
                        <span class="checkmark"></span>
                    </label>
                    <label for="privacyPolicyCheck">
                        {{'policyText1' | translate}}<a routerLink="PrivacyPolicy">{{'privacyPolicy.title' | translate}}</a>{{'policyText2' | translate}}
                    </label>
                </div>
                <div>
                    <input type="submit" value="Send" [disabled]="!contactForm.valid">
                </div>      
            </div>

        </form>
    </div>

    

        <!-- Popup Fenster -->
        <div id="popup" class="popup" *ngIf="showPopup">
            <div class="popup-content">
                <span class="close" (click)="closePopup()">&times;</span>
                <p>{{'submissionSuccess' | translate}}</p>
            </div>
        </div>
</section>
