<section>
    <img class="myPic" src="../../assets/img/IMG_1681.jpeg" alt="Bild von meiner Wisage">
    <div class="whyMe">
        <h2 class="bigRed">Why Me?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus reprehenderit quaerat eius laboriosam ad amet porro odit quod. Quos consequuntur magnam, nostrum laboriosam quam ipsum fuga. Maiores laborum recusandae ipsa!</p>
       
        <table>
            <tr>
                <td>
                    <p class="bigRed">I am</p>
                </td>
                <td>
                    <img class="locationPointer" src="../../assets/img/Vector.png" alt=""> 
                </td>
                <td>
                    <p>located in Celle</p>
                </td>
            </tr>
            <tr>
               <td>
                   <img src="../../assets/img/Arrow 5.png" alt="">
               </td>
            </tr>
            <tr>
                <td>
                    <img src="../../assets/img/Remote work Web.png" alt="">
                
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <img src="../../assets/img/Arrow 01.png" alt="">
                </td>
                <td></td>
            </tr>
        </table>
        <div class="toContactBtnDiv">
            <button class="toContactBtn">Lets Talk</button>
        </div>
        
    </div>
</section>
