<section>
    <img  class="myPic" src="../../assets/img/IMG_1681.jpeg" alt="Image of JM" data-aos="zoom-out-up">
    <div class="whyMe">
        <div class="presentation">
            <h2 class="bigRed">{{'whyMe' | translate}}</h2>
            <p>{{'whyMeText' | translate}} </p>
        </div>
        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="myConditions">
            <div>
                <p class="myClass">{{'iAm' | translate}}</p>
            </div>
            <div class="conditionMarkers">
                <div class="firstRow">
                    <p class="locationPointer">{{'location' | translate}}</p>
                    <img class="firstArrow" src="../../assets/img/Arrow 01.png" alt="">
                </div>
                <div class="secondRow">
                    <p class="remote">{{'remote' | translate}}</p>
                    <div class="secondArrow"><img src="../../assets/img/Arrow 5.png" alt=""></div>
                </div>
                <div class="toContactBtnDiv">
                    <a href="#contact" class="toContactBtn">{{'contact' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->