@import '../../styles.scss';

section{
@include d-flex();
height: 100vh;
width: 100%;
padding-left: 5px;
}

.presentation{
   text-align: right;
  }

.myPic{
    width: 45%;
    height: 80%;
    object-fit: contain;
}

.locationPointer {
    background-image: url('../../assets/img/Vector.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 235px;
    height: 57px;
    gap: 10px;
    @include d-flex();
  
    &:hover{
        background-image: url('../../assets/img/Location_Hover_Circle.png'), url('../../assets/img/Location_Hover_Point.png');
        background-position: 3% 95%, top left;
        background-repeat: no-repeat;
        background-origin: border-box;
    }
}



.myClass{
    @include bigRed();
    padding-right: 20px;
    margin: 0;
}
.whyMe{
    width: 50%;
    height: 80%;
    text-wrap: wrap;
}

.myConditions{
    @include d-flex($ai: start);
}

.conditionMarkers{
    display: flex;
    flex-direction: column;
}

.firstRow{
    @include d-flex($js: start, $ai: start);
    .firstArrow{
        margin-top: 60px;
        margin-left: -53px;
    }
}

.secondRow{
    @include d-flex();
    margin-bottom: 15px;
  
.remote{
    background-image: url('../../assets/img/Icon Remote-2.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 335px;
    height: 57px;
    gap: 10px;
    text-wrap: wrap;
    @include d-flex();
    &:hover{
        background-image: url('../../assets/img/Icon Remote.png');
    }
}
 

    .secondArrow{
        padding-top: 40px;
        rotate: 45deg;
    }
}

.thirdRow{
    @include d-flex();
    margin-bottom: 15px;

.travell{
    background-image: url('../../assets/img/Basket.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 335px;
    height: 57px;
    gap: 10px;
    text-wrap: wrap;
    @include d-flex();
    &:hover{
        background-image: url('../../assets/img/Basket-move.png');
    }
}

    .thirdArrow{
        padding-top: 40px;
        rotate: 320deg;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
   
    }
}

.toContactBtn {
    @include d-flex();
    text-decoration: none;;
    background-color: #00F4BF;
    font-size: 18px;
    font-weight: 500;
        color: #0A032C;
        border: inherit;
        cursor: pointer;
        width: 169px;
        height: 52px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        opacity: 0px;

        &:hover{
            color:#E15544;
        }

}

.toContactBtnDiv{
    width: 521px;
    height: 52px;
    gap: 10px;
    @include d-flex($js: end)
}

.bigRed{
    @include bigRed();
}

//---------------------Media Query----------------------------

@media(max-width: 1250px){
    .myPic{
        width: 30%;
    }

    .myConditions{
        align-items: center;
        flex-direction: column;
    }

    .firstRow{
        @include d-flex();

        .firstArrow{
            display: none;
        }
    }
}

@media(max-width: 880px){
    .myPic{
        display: none;
    }
 .presentation{
    text-align: center;
 }
}

@media(max-width: 580px){
    .toContactBtnDiv{
        justify-content: center;
        padding-top: 20px;
        width: 100%;
    }
    .secondArrow{
        display: none;
    }

.locationPointer{
    width: 200px;
}
}

@media(max-width: 420px){
    .thirdRow{
        width: 225px;
        margin-left: 35px;
    }
    .thirdArrow{
        display: none;
    }
}

@media(max-width: 400px){
    section{
        height: 100vh;
    }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
      section {
        margin-bottom: 200px;
    }
}
