<section>
    <img  class="myPic" src="../../assets/img/WhyMeProfile.jpg" alt="Image of JM" data-aos="zoom-out-up">
    <div class="whyMe">
        <h2 class="bigRed">{{'whyMe' | translate}}</h2>
        <div class="presentation">
            <p>{{'whyMeText' | translate}} </p>
        </div>
        
            <table>
                <tbody data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="myConditions">
                    <tr class="firstRow">
                        <td><p class="myClass">{{'iAm' | translate}}</p></td>
                        <td><p class="locationPointer">{{'location' | translate}}</p></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="secondRow">
                        <td><div class="thirdArrow"><img src="../../assets/img/Arrow 5.png" alt=""></div></td>
                        <td></td>
                        <td><p class="travell">{{'travell' | translate}}</p></td>
                        <td></td>
                    </tr>
                    <tr class="thirdRow">
                        <td></td>
                        <td>
                            <div class="remoteWithArrow">
                                <p class="remote">{{'remote' | translate}}</p>
                                <img class="secondArrow" src="../../assets/img/Arrow 5.png" alt="">
                            </div>
                        </td>
                        <td></td>
                        <td><img class="firstArrow" src="../../assets/img/Arrow 01.png" alt=""></td>
                    </tr>
                </tbody>
            </table>
       
                <div class="toContactBtnDiv">
                    <a href="#contact" class="toContactBtn">{{'contact' | translate}}</a>
                </div>
    </div>
</section>

