@import '../../styles.scss';

*{
    color: #00F4BF;
}

section{
@include d-flex();
height: 70vh;
width: 100%;

}

.presentation{
   text-align: right;
  }

.myPic{
    width: 45%;
    height: 80%;
    object-fit: contain;
}

.locationPointer {
    background-image: url('../../assets/img/Vector.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 235px;
    height: 57px;
    gap: 10px;
    @include d-flex();
  
    &:hover{
        background-image: url('../../assets/img/Location_Hover_Circle.png'), url('../../assets/img/Location_Hover_Point.png');
        background-position: 3% 95%, top left;
        background-repeat: no-repeat;
        background-origin: border-box;
    }
}



.myClass{
    @include bigRed();
    padding-right: 20px;
    margin: 0;
}
.whyMe{
    width: 55%;
    height: 80%;
    text-wrap: wrap;
}

.myConditions{
    @include d-flex($ai: start);
}

.conditionMarkers{
    display: flex;
    flex-direction: column;
}

.firstRow{
    @include d-flex($js: start, $ai: start);
    .firstArrow{
        margin-top: 60px;
        margin-left: -53px;
    }
}

.secondRow{
    @include d-flex();
  

    img:hover &{
        background-image: url('../../assets/img/Remote work Web hover.png');
    }

    .secondArrow{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        padding-top: 40px;
        rotate: -45deg;
    }
}

.toContactBtn {
    background-color: #00F4BF;
    font-size: 18px;
    font-weight: 500;
        color: #0A032C;
        border: inherit;
        cursor: pointer;
        width: 169px;
        height: 52px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        opacity: 0px;

        &:hover{
            color:#E15544;
        }

}

.toContactBtnDiv{
    width: 521px;
    height: 52px;
    gap: 10px;
    @include d-flex($js: end)
}

.bigRed{
    @include bigRed();
}

//---------------------Media Query----------------------------

@media(max-width: 1190px){
    .myPic{
        width: 30%;
    }

    .myConditions{
        align-items: center;
        flex-direction: column;
    }

    .firstRow{
        @include d-flex();

        .firstArrow{
            display: none;
        }
    }
}

@media(max-width: 880px){
    .myPic{
        display: none;
    }
 .presentation{
    text-align: center;
 }
}

@media(max-width: 580px){
    .toContactBtnDiv{
        justify-content: center;
        padding-top: 20px;
        width: 100%;
    }
    .secondArrow{
        display: none;
    }

.locationPointer{
    width: 200px;
}
}

@media(max-width: 400px){
    section{
        height: 100vh;
    }
}