*{
    color: #E15544;
  
  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

a{
  
    text-decoration: none;

    &:hover{
        color:#00F4BF;
        text-decoration: underline;
        cursor: pointer;
    }
}

button{
border: inherit;

}