@import '../../styles.scss';

section{
    width: 100%;
    // height: 100vh;
    margin-top: 50px;
@include d-flex($fd: column);


}
h2 {
    @include bigRed();
    margin-top: 100px;
}

.skillTree {
    @include d-flex();
    gap: 28px;
    flex-wrap: wrap;

    img {
        width: 88px;
        height: 88px;
    }

    figcaption {
        @include d-flex();
    }
}

.skillTreeMobile{
    @include d-flex($d: none);
    gap: 30px;
    flex-wrap: wrap;

    .mobileImg{
        width: 70px;
        height: 70px;
    }
}

.mobileMessage {
    position: relative; 
    @include d-flex($fd: column, $g: 10px);
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}

.mobileMessage img {
    cursor: pointer;
}

.mobileMessage .hover-text {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 60px;
    transform: translate(-50%, -50%); /* Zentriert den Text perfekt */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Fügt eine sanfte Einblendung hinzu */
    white-space: nowrap; /* Verhindert Zeilenumbruch bei längeren Texten */
    pointer-events: none; /* Stellt sicher, dass der Text nicht die Maus blockiert */
}

.mobileMessage:hover .hover-text {
    opacity: 1;
}

//-----------------------------Media Query---------------------

@media(max-height: 850px){
        section{
        margin-top: 0;
        // height: 100vh;
    }
}  

@media(max-height: 600px) {
      .skillTree {
          gap: 0;
      }
      
  }

@media(max-width: 1080px){
    // section{
    //     height: 100vh;
    // }
}

@media(max-width: 800px){
    .mobileMessage{
        margin-bottom: 90px;
    }
    .skillTree{
        img{
            width: 70px;
            height: 70px;
        }
    }
}


@media(max-width: 710px){
    .skillTree{
        display: none;
    }

    .skillTreeMobile{
        display: flex;
    }

    .mobileMessage{
        display: flex;
    }
}

@media(max-width: 420px){
 button{
    width: 100px;
 }
}

// @media screen and (max-width: 400px) and (orientation: portrait) {
//       section {
//         height: 158vh;
//     }
// }


// @media(max-width: 370px){
//     section{
//         height: 80vh;
//     }
// }