@import '../../styles.scss';

section{
    width: 100%px;
height: 50vh;
top: 1310px;
left: 1px;
@include d-flex();
flex-direction: column;

}

h2{
    @include bigRed();
}

.skillTree{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

image{
    width: Hug (88px)px;
height: Hug (100px)px;
left: 200.5px;
gap: 0px;
opacity: 0px;

}

