<section>
    <header>
        <h2>{{'skillsHead' | translate}}</h2>
    </header>

    <section class="skillTree">
      <!-- Frontend -->
      <figure>
        <img src="./assets/img/skills/Angular-mobile.png" alt="Angular" data-aos="zoom-in">
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Typescript-mobile.png" alt="TypeScript" data-aos="zoom-in">
        <figcaption>TypeScript</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/JavaScript-mobile.png" alt="Java-Script" data-aos="zoom-in">
        <figcaption>Java-Script</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/HTML-mobile.png" alt="HTML" data-aos="zoom-in">
        <figcaption>HTML</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/CSS-mobile.png" alt="CSS" data-aos="zoom-in">
        <figcaption>CSS</figcaption>
      </figure>

      <!-- Backend -->
      <figure>
        <img src="./assets/img/skills/API-mobil.png" alt="Rest-API" data-aos="zoom-in">
        <figcaption>Rest-API</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Firebase-mobile.png" alt="Firebase" data-aos="zoom-in">
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Python-mobile.png" alt="Python" data-aos="zoom-in">
        <figcaption>Python</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Django-mobile.png" alt="Django" data-aos="zoom-in">
        <figcaption>Django</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Linux-mobile.png" alt="Linux" data-aos="zoom-in">
        <figcaption>Linux</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Docker-mobile.png" alt="Docker" data-aos="zoom-in">
        <figcaption>Docker</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Cloud.png" alt="Cloud" data-aos="zoom-in">
        <figcaption>Cloud</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/PostgreSQL.png" alt="PostgreSQL" data-aos="zoom-in">
        <figcaption>PostgreSQL</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/Redis.png" alt="Redis" data-aos="zoom-in">
        <figcaption>Redis</figcaption>
      </figure>
      <figure>
        <img src="./assets/img/skills/SQL.png" alt="SQL" data-aos="zoom-in">
        <figcaption>SQL</figcaption>
      </figure>

      <!-- Other -->
      <figure>
        <img src="./assets/img/skills/Git-mobil.png" alt="Git" data-aos="zoom-in">
        <figcaption>Git</figcaption>
      </figure>
    </section>

    <section class="skillTreeMobile">
      <img *ngFor="let skill of visibleSkills"
           class="mobileImg"
           [src]="skill.mobileSrc"
           [alt]="skill.alt"
           data-aos="zoom-in">
    </section>

    <div class="mobileMessage">
        <span>{{'mobileSkill' | translate}}</span>     
        <a href="#contact"><img src="./assets/img/skills/Challenge.png" alt="Challenge Me?"></a>
    </div>
</section>
