@import '../../styles.scss';

section{
    width: 1439px;
height: 423px;
top: 1310px;
left: 1px;


}

h2{
    @include bigRed();
}

.skillTree{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

image{
    width: Hug (88px)px;
height: Hug (100px)px;
left: 200.5px;
gap: 0px;
opacity: 0px;

}

