<section>
    <header>
        <h2>{{'skillsHead' | translate}}</h2>
    </header>

    <section >
      <table class="skillTree">
        <tr>
          <td>
            <figure>
              <img src="./assets/img/skills/Angular-mobile.png" alt="Angular" data-aos="zoom-in">
              <figcaption>Angular</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Typescript-mobile.png" alt="TypeScript" data-aos="zoom-in">
              <figcaption>TypeScript</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/JavaScript-mobile.png" alt="Java-Script" data-aos="zoom-in">
              <figcaption>Java-Script</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/HTML-mobile.png" alt="HTML" data-aos="zoom-in">
              <figcaption>HTML</figcaption>
            </figure>
          </td>
        </tr>
        <tr>
          <td>
            <figure>
              <img src="./assets/img/skills/CSS-mobile.png" alt="CSS" data-aos="zoom-in">
              <figcaption>CSS</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Swift.png" alt="Swift" data-aos="zoom-in">
              <figcaption>Swift</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/API-mobil.png" alt="Rest-API" data-aos="zoom-in">
              <figcaption>Rest-API</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Python-mobile.png" alt="Python" data-aos="zoom-in">
              <figcaption>Python</figcaption>
            </figure>
          </td>
        </tr>
        <tr>
          <td>
            <figure>
              <img src="./assets/img/skills/Django-mobile.png" alt="Django" data-aos="zoom-in">
              <figcaption>Django</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Linux-mobile.png" alt="Linux" data-aos="zoom-in">
              <figcaption>Linux</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Docker-mobile.png" alt="Docker" data-aos="zoom-in">
              <figcaption>Docker</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Cloud.png" alt="Cloud" data-aos="zoom-in">
              <figcaption>Cloud</figcaption>
            </figure>
          </td>
        </tr>
        <tr>
          <td>
            <figure>
              <img src="./assets/img/skills/PostgreSQL.png" alt="PostgreSQL" data-aos="zoom-in">
              <figcaption>PostgreSQL</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Redis.png" alt="Redis" data-aos="zoom-in">
              <figcaption>Redis</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/SQL.png" alt="SQL" data-aos="zoom-in">
              <figcaption>SQL</figcaption>
            </figure>
          </td>
          <td>
            <figure>
              <img src="./assets/img/skills/Git-mobil.png" alt="Git" data-aos="zoom-in">
              <figcaption>Git</figcaption>
            </figure>
          </td>
        </tr>
      </table>
    </section>

    <section class="skillTreeMobile">
      <img *ngFor="let skill of visibleSkills"
           class="mobileImg"
           [src]="skill.mobileSrc"
           [alt]="skill.alt"
           data-aos="zoom-in">

    </section>

<div class="mobileMessage">
  <span class="hover-text">{{'mobileSkill' | translate}}</span>
    <a href="#contact">
        <img src="./assets/img/skills/Challenge.png" alt="Challenge Me?">
    </a>
</div>
</section>
