// @import "../../styles.scss";

// section {
//     @include d-flex($fd: column);
//     width: 90%;
//     max-width: 1200px;
//      min-height: calc(100vh - 92px - 200px);
//      text-wrap: wrap;
// }

@import "../../styles.scss";

section {
    @include d-flex($fd: column);
    width: 90%;
    max-width: 1200px;
    min-height: calc(100vh - 92px - 200px);
    text-wrap: wrap;

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }

    // Media Query für mobile Geräte
    @media (max-width: 768px) {
        width: 95%; // Mache den Container auf kleinen Bildschirmen etwas breiter
        padding: 0 10px; // Füge etwas inneren Abstand hinzu
        
        h1 {
            font-size: 1.8rem; // Reduziere die Schriftgröße der H1-Überschrift
        }
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem; // Mache den Fließtext auf kleinen Bildschirmen kleiner
        }
    }

    @media(max-width: 405px){

        width: 90%;
    }
}