<h1>{{'privacyPolicy.text.H1' | translate}}</h1>
<h2>{{'privacyPolicy.text.H2' | translate}}</h2>
<h3>{{'privacyPolicy.text.H3' | translate}}</h3> 
<p>{{'privacyPolicy.text.H3.Text' | translate}}</p>
<h3>{{'privacyPolicy.text.H4_1' | translate}}</h3> 
<h4>{{'privacyPolicy.text.H4_1.Text' | translate}}</h4> 
<p>{{'privacyPolicy.text.P1' | translate}}</p> 
<h4>{{'privacyPolicy.text.H4_2' | translate}}</h4> 
<p>{{'privacyPolicy.text.P2' | translate}}</p> 
<p>{{'privacyPolicy.text.P3' | translate}}</p> 
<h4>{{'privacyPolicy.text.H4_3' | translate}}</h4> 
<p>{{'privacyPolicy.text.P4' | translate}}</p> 
<h4>{{'privacyPolicy.text.H4_4' | translate}}</h4> 
<p>{{'privacyPolicy.text.P5' | translate}}</p> 
<p>{{'privacyPolicy.text.P6' | translate}}</p>
<h2>{{'privacyPolicy.text.H2_2' | translate}}</h2>
<p>{{'privacyPolicy.text.P7' | translate}}</p>
<h3>{{'privacyPolicy.text.H3_2' | translate}}</h3> 
<p>{{'privacyPolicy.text.P8' | translate}}</p> 
<p>{{'privacyPolicy.text.P9' | translate}}</p>
