.imprint{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 76vh;
}

.contactSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
     color: #00f4bf;
}