
@import '../../../styles.scss';
*{
    color: #E15544;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.logoMobile {
    display: none;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

nav {
    @include d-flex($js: space-between);
    height: 92px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;


    background: linear-gradient(
        to bottom, 
        rgba(11, 4, 45, 1), /* weniger transparent oben */
        rgba(11, 4, 45, 0.2)  /* mehr transparent unten */
    );
    
    /* Optional: Weitere Stile für die Bar */
    z-index: 1000; /* Sicherstellen, dass die Navbar über anderen Elementen liegt */
}


.navigation{
    @include d-flex();
    gap: 30px;
}

a{
  
    text-decoration: none;

    &:hover{
        color:#00F4BF;
        text-decoration: underline;
        cursor: pointer;
    }
}

button{
border: inherit;
background-image: url('../../../assets/img/buttons/language-default.png');
background-repeat: no-repeat;
background-size: contain;
width: 62px;
height: 25px;
background-color: inherit;
}

.name{
    @include bigRed();
}

.burgerMenu{
    background-image: url('../../../assets/img/burger\ menu.png');
    background-repeat: no-repeat;
    @include d-flex($fd: column, $d: none);
    color: #E15544;
    width: 44px;
    height: 35px;

}

.popUp{
    @include d-flex($fd: column, $d: none);
}

//----------------------Media Query-----------------------------------------------

@media(max-width: 590px){
nav{
    justify-content: flex-end;
}

    button{
    display: none;
}
.navigation{
    display: none;
}
.burgerMenu{
    display:flex;
    
}
.logoMobile{
    display: flex;
}

}