<nav>
  <img class="logoMobile" src="../../../assets/img/logoNew.png" alt="Logo">
    <div class="navigation">
      <img class="logo" src="../../../assets/img/logoNew.png" alt="Logo">
      <a href="">Why Me</a>
      <a href="">Skills</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
    </div>

    <div class="burgerMenu">
      <div class="popUp">
        <a href="">Why Me</a>
        <a href="">Skills</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
      </div>
    </div>
    <div #language class="language">
      <button (mousemove)="showCoords($event)">DE | EN</button>
    </div>
  </nav>

  
