<app-nav-bar></app-nav-bar>

<section>
    <div class="text-Part">
        <div class="buttons">
            <a href="#contact" class="leadToContact">{{'contact' | translate}}</a>
            <a href="#why_Me" class="arrowDown"></a>
        </div>
      
        <div class="title">
            <p class="jobTitle">{{'title' | translate}}</p><br>
            <p class="myName">Jonas Mahlburg</p>
        </div>
    </div>
 
    <img class="profilePicture" src= "./assets/img/IMG_1681.png" alt="Hier könnte ihre Werbung stehen">
</section>
