*{
    max-width: 1900px;
}
section{
    display:flex;
    margin-top: 92px;
}

.leadToContact{
    border: 2px solid #00F4BF;
    rotate: -90deg;
    height: 52px;
    width: 169px;
    color: #E15544;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: #00F4BF;
        cursor: pointer;
    }
}

.title{
    color: #00F4BF;
    bottom: 0;
}

.profilePicture{
    width: 539px;
    height: 554px;
    object-fit: cover;
}

.text-Part{
display: flex;
flex-direction: column;
}