<section>
    <div class="text-Part">
        <div class="buttons">
            <a href="#contact" class="leadToContact">{{'contact' | translate}}</a>
            <a href="#why_Me" class="arrowDown"></a>
        </div>
      
        <div data-aos="fade-right" class="title" >
            <p class="jobTitle">{{'title' | translate}}</p><br>
            <h1 class="myName">Jonas Mahlburg</h1>
        </div>
    </div>
 
    <img data-aos="fade-left"  class="profilePicture" src= "./assets/img/new_profile_lp.png" alt="Bild von mir">
</section>

