@import '../../styles.scss';

* {
  max-width: 1900px;
}
section {
  display: flex;
justify-content: center;
  width: 100%;
  height: 90vh;
  gap: 0px;
  position: relative;
}



.leadToContact {
  @include d-flex();
  border: 2px solid #00f4bf;
  width: 169px;
  height: 52px;
  rotate: -90deg;
  position: relative;
  color: #e15544;
  text-decoration: none;
  &:hover {
    color: #00f4bf;
    cursor: pointer;
  }
}



.profilePicture {
  width: 30%;
  height: 60%;
  object-fit: cover;
 
  box-shadow: 10px 10px 5px #00f4bf;
  right: 0;
}

.text-Part {
 @include d-flex($fd: column, $js: space-evenly);

 .buttons {
  @include d-flex($js: space-between);
  width: 100%;
}

.title {
  color: #00f4bf;
  position: relative;
  width: 100%;
  height: 142px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

}

.jobTitle {
  font-size: 54px;
  font-weight: 500;
  line-height: 64.8px;
  margin: 0;
}

.myName {
  font-size: 82px;
  font-weight: 700;
  line-height: 98.4px;
  margin: 0;
}

.arrowDown {
  width: 22px;
  height: 50px;
  // top: 306px;
  gap: 0px;
  position: relative;
  display: flex;
  background-image: url("../../assets/img/Arrow down.png");
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;

  &:hover {
    background-image: url("../../assets/img/Arrow\ down=Hover.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 60px;
  }
}




//-- Media Querry ------------------------------------------//

@media(max-width: 880px){
section{
  flex-direction: column-reverse;
  align-items: center;
}
.text-Part{
  .buttons{
    display: none;
  }
  .title{
    text-align: center;
    gap: 0;
  }
}
.profilePicture{
  width: 60%;
  height: 70%;
  margin-bottom: 20px;
}

}

@media(max-width: 730px){
  .profilePicture{
    width: 80%;
   
  }
}

@media(max-width: 590px){
.myName{
  font-size: 60px;
}
.jobTitle{
  font-size: 40px;
}
}

@media(max-width: 430px){
  .myName{
    font-size: 40px;
  }
  .jobTitle{
    font-size: 30px;
  }
}