* {
  max-width: 1900px;
}
section {
  display: flex;
  margin-top: 92px;
  height: 100vh;
}

.leadToContact {
  border: 2px solid #00f4bf;
  width: 169px;
  height: 52px;
  top: 286px;
  left: 50px;
  gap: 10px;
  opacity: 0px;
  rotate: -90deg;
  position: relative;
  
  color: #e15544;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #00f4bf;
    cursor: pointer;
  }
}

.title {
  color: #00f4bf;
  position: absolute;
  width: 808px;
  height: 142px;
  top: 412px;
  left: 50px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.profilePicture {
  width: 539px;
  height: 554px;
  object-fit: cover;
  left: 769px;
  position: relative;
  right: 0;
}

.text-Part {
  display: flex;
}

.jobTitle {
    font-size: 54px;
    font-weight: 500;
    line-height: 64.8px;
    margin: 0;
}

.myName {
    font-size: 82px;
    font-weight: 700;
    line-height: 98.4px;
    margin: 0;
}

.arrowDown {
    width: 22px;
    height: 50px;
    top: 306px;
    left: 669px;
    gap: 0px;
    position: relative;
    display: flex;
}