@import '../../../styles.scss';

img {
    width: 588px;
    height: 371px;
    object-fit: contain;
}

.evenP {  flex-direction: row-reverse !important }
.oddP { flex-direction: row !important}

.singleProject{
    color:#00F4BF;
    @include d-flex($g: 8px);
    height: 371px;
    width: 1134px;
    margin-bottom: 20px;
}



.title{
    @include fonts(48px, 700);
    margin-bottom: 0;
    margin-top: 0
}

.skills{
@include fonts(18px, 400);
}

.description{
    @include fonts(18px, 400);
}

.play {
    background-color: #00F4BF;
    width: 98px;
    height: 22px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    @include fonts(18px, 500);
    @include d-flex($g: 10px);
    cursor: pointer;

    &:hover{
        color: #E15544;
    }
}

.gitHub {
    width: 65px;
    height: 22px;
    @include d-flex($g: 10px);
    color: #E15544;
    padding: 15px 30px 15px 30px;
    border: 1px solid #00F4BF;
    @include fonts(18px, 500);
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: #00F4BF
    }
}
section {
    width: 498px;
    height: 318px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.linkSection{
    @include d-flex();
    gap: 24px;
}

.infoSection{
    text-wrap: wrap;
    @include d-flex($fd: column, $ai: flex-start);
}


//-------------------------Media Querrys------------------//

@media(max-width: 1300px){
    .singleProject{
        width: 100%;
        flex-direction: column-reverse !important;
        height: fit-content;
        
    }

    section{
        margin-right: 0;
    }

    img{
        width: 100%;
    }

    .infoSection{
        width: 100%;
        @include d-flex($fd: column);
    }
}

@media(max-width: 514px){
    section{
        width: 100%;
    }
    img{
        width: 100%;
    }
      .linkSection{
    gap: 22px;
  }
}

@media(max-width: 322px){
          .linkSection{
    gap: 20px;
  }
}
