@import '../../../styles.scss';

img {
    width: 588px;
    height: 371px;
}

.singleProject{
    color:#00F4BF;
    @include d-flex();
    height: 371px;
    width: 1134px;
    border: 1px solid yellow;
}

.singleProjectReverse{
    display: flex;
    flex-direction: row-reverse;
}

.title{
    font-size: 48px;
    font-weight: 700;
}

.skills{
    font-size: 18px;
    font-weight: 400;
}

.description{
    font-size: 18px;
    font-weight: 400;
}

.play {
    background-color: #00F4BF;
    width: 158px;
    height: 52px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 18;
    font-weight: 500;
    text-decoration: none;
    @include d-flex();
}

.gitHub {
    width: 125px;
    height: 52px;
    @include d-flex();
    color: #E15544;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border: 1px, solid, #00F4BF;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none
}
.linkSection{
    @include d-flex();
    gap: 24px;
}


