@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
}/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */

body{
    background-image: linear-gradient(rgba(11,4,45,1), rgba(29,12,123,1));
    margin: 0;
    font-family: 'Roboto';
    color: #00f4bf;
    width: 90%;
}

html{
    scroll-behavior: smooth;
    // max-width: 1200px;
    // margin: auto;
}

@mixin bigRed($fs: 54px, $fw: 500){
    color: #E15544;
    font-size: $fs;
    font-weight: $fw;
}

@mixin d-flex($d: flex, $js: center, $ai: center, $g: 0px, $fd: row) {
    display: $d;
    justify-content: $js;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
  }

  @mixin fonts($fs, $fw){
    font-size: $fs;
    font-weight: $fw;
  }