<footer>
  <div class="footer-div">
    <div class="footerTop">
      <div class="logoDiv">
          <p class="initals">&lt;JM&gt;</p>
          <p class="logoJob">Full Stack developer</p>
      </div>
        <p class="copyright">&copy; Jonas Mahlburg 2024</p>
        <div class="linkSection">
            <a id="gitHub" href="https://github.com/JonasMahlburg" target="_blank"><img src="../../../assets/img/Github button.png" alt="Github"></a>
            <a id="mail" href="mailto:mail@jonas-mahlburg.de"><img src="../../../assets/img/Email button.png" alt="Email"></a>
            <a id="linkedin" href="https://www.linkedin.com/in/jonas-mahlburg-b7418231a/" target="_blank"><img src="../../../assets/img/Linkedin button.png" alt="Linkedin"></a>
        </div>
    </div>

    <div class="privacy">
        <a class="footerLinks" routerLink="PrivacyPolicy">{{'privacyPolicy.title' | translate}}</a>
        <a class="footerLinks" routerLink="Imprint">{{'imprint' | translate}}</a>
    </div>
  </div>
</footer>
