@import '../../../styles.scss';

footer {
  width: 100%;
  height: 200px;
  @include d-flex($fd: column, $g: 16px);
  color: #e15544;
  flex: 1;
}

.footer-div {
  max-width: 1200px;
  width: 100%;
  @include d-flex($fd: column);
}

.footerTop {
  @include d-flex($js: space-between);
  width: 100%;
  height: 81px;
}

.logo {
  color: #E15544;
  font-size: 40px;
  font-weight: bold;
  font-family: 'RobotoMono', monospace;
  letter-spacing: 2px;
  margin: 0;
  padding: 4px 0 6px 0;
  height: auto;
  width: auto;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    color: #00f4bf;
  }
}

.linkSection {
  width: 154px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.copyright {
  @include d-flex($js: space-around);
  width: 291px;
  height: 28px;
  font-size: 23px;
}

.privacy {
  @include d-flex($g: 16px);
  width: 261px;
  height: 30px;


  .footerLinks {
    text-decoration: none;
    color: #E15544;
    font-size: 14px;

    &:hover {
      color: #00f4bf;
    }
  }
}

#gitHub {
  width: 30px;
  height: 29.26px;
  top: 4px;
  left: -0.5px;
  gap: 0px;
  opacity: 0px;

  &:hover {
    border: 2px solid #00f4bf;
    border-radius: 50%;
  }
}

#mail {
  width: 30px;
  height: 29.26px;
  top: 3px;
  left: 62.5px;
  gap: 0px;
  opacity: 0px;

  &:hover {
    border: 2px solid #00f4bf;
    border-radius: 50%;
  }
}

#linkedin {
  width: 30px;
  height: 29.26px;
  top: 3px;
  left: 123.5px;
  gap: 0px;
  opacity: 0px;

  &:hover {
    border: 2px solid #00f4bf;
    border-radius: 50%;
  }
}

.logoDiv {
  @include d-flex($fd: column, $ai: center);
  position: relative; // Wichtig für die absolute Positionierung des Kindelements
  width: 150px;
  height: 81px;
}

.initals {
  font-size: 54px;
  position: absolute;
  margin-top: 0;
}

.logoJob {
  font-size: 12px;
  width: 100%;
  position: absolute;
  bottom: 0; // Unten im Container ausrichten
}


//----------------media querry----------------------
@media(max-width: 1220px) {
  .footerTop {
    justify-content: space-around;
  }

  .copyright {
    margin-bottom: 8px;
  }
}

@media(max-width: 615px) {
  .footerTop {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .logoDiv {
    display: none;
  }
}