<section>
    <h2>need a team-Player? Here is what others say about me</h2>

    <div class="commentSection">
        <div class="commentArrow">
            <img src="../../assets/img/Reference_Arrow.png" alt="">
        </div>
     
        @for (comment of comments; track $index) {
            <app-single-comment [singleComment]="comment"></app-single-comment>
           }
    </div>

    <div class="slideshow-container">
        <div *ngFor="let comment of comments; let i = index" class="mySlides fade">
            <app-single-comment [singleComment]="comment"></app-single-comment>
        </div>
      
        <!-- Navigation buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
      
      <!-- Dots -->
      <div class="dot-container">
        <span *ngFor="let comment of comments; let i = index" class="dot" (click)="currentSlide(i + 1)"></span>
      </div>

</section>


