@import '../../../styles.scss';
*{
    color: #E15544;
    
    @include d-flex();
}

.language{
  @include d-flex($g: 15px);
  padding-right: 30px;
 
  .EN:hover{
    color: #00F4BF;
    cursor: pointer;
  }
  .DE:hover{
    color: #00F4BF;
    cursor: pointer;
  }
}

.languageMobile{
  @include d-flex($g: 15px);

 
  .EN:hover{
    color: #00F4BF;
    cursor: pointer;
  }
  .DE:hover{
    color: #00F4BF;
    cursor: pointer;
  }

  

}

.logoMobile {
    width: 92px;
    height: 92px;
    opacity: 0.7;
    object-fit: contain;
}

nav {
  @include d-flex($js: center);
  height: 92px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(11, 4, 45, 1),
    rgba(11, 4, 45, 0.2)
  );
  z-index: 1000;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 0 20px; 
}

.navigation{
    @include d-flex();
    gap: 30px;
}

a{
  
    text-decoration: none;
    transition: 0.5s;

    &:hover{
        color:#00F4BF;
        cursor: pointer;
        text-decoration: underline;
    }
}

button{
border: inherit;
background-image: url('../../../assets/img/buttons/language-default.png');
background-repeat: no-repeat;
background-size: contain;
width: 62px;
height: 25px;
background-color: inherit;
}

.name{
    @include bigRed();
}

.burgerMenu {
    @include d-flex($fd: column, $d: none);
    color: #E15544;
    width: 44px;
    height: 35px;
    font-size: 30px;
    cursor: pointer;


}


  
  /* Pop-Up Menü Styling */
  .popUp {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #0B042F;
    @include d-flex($fd: column, $d: flex);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .popUp a {
    color: #E15544;
    text-decoration: none;
    margin: 15px 0;
    &:hover{
      color: #00F4BF;
    }
  }
  
  /* X-Button Styling */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    &:hover{
      rotate: 30deg;
      transform: scale(1.3);
    }
  }
  
  /* Versteckt das Pop-Up Menü */
  .hidden {
    transform: translateX(100%);
  }
  
  /* Sichtbar macht das Pop-Up Menü */
  .show {
    transform: translateX(0);
  }
  

  

//----------------------Media Query-----------------------------------------------

@media(max-width: 770px){
nav{
    justify-content: space-between;
}

    .language{
    display: none;
}
.navigation{
  .links{
     display: none;
  }
   
}
.burgerMenu{
    display:flex;
    padding-right: 20px;
    
}
.logoMobile{
    display: flex;
}

}