<nav>
  <div class="nav-container">
    <a href="#landingPage"><img class="logoMobile" src="./assets/img/logoNew.png" alt="Logo"></a>
    <div class="navigation">
      <a href="#why_Me">{{'whyMe' | translate}}</a>
      <a href="#skills">{{'skills' | translate}}</a>
      <a href="#projects">{{'projects' | translate}}</a>
      <a href="#contact">{{'contact' | translate}}</a>
    </div>
    <div class="burgerMenu" (click)="toggleMenu()">
      &#9776;
    </div>
    <div id="popUpMenu" class="popUp hidden">
      <div class="closeButton" (click)="toggleMenu()">&times;</div>
      <a href="#why_Me" (click)="toggleMenu()">{{'whyMe' | translate}}</a>
      <a href="#skills" (click)="toggleMenu()">{{'skills' | translate}}</a>
      <a href="#projects" (click)="toggleMenu()">{{'projects' | translate}}</a>
      <a href="#contact" (click)="toggleMenu()">{{'contact' | translate}}</a>
      <div  class="languageMobile">
        <p class="EN" (click)="translate.switchLanguage('en');toggleMenu() ">EN</p>
        <p class="DE" (click)="translate.switchLanguage('de'); toggleMenu()">DE</p>
      </div>
    </div>
    <div class="language">
      <p class="EN" (click)="translate.switchLanguage('en') ">EN</p>
      <p class="DE" (click)="translate.switchLanguage('de') ">DE</p>
    </div>
  </div>
</nav>



