@import '../../../styles.scss';
.Singlecomment {
    width: 297px;
    min-height: 200px; 
    padding: 10px;

    @include d-flex($fd: column);
    color: #00f4bf;

    .titleSection {
        width: 100%;
    }

    .name{
        color: #E15544;
        font-size: 24px;
    }

    .comment {
        @include fonts(18px, 400);
        font-size: 18px;
    }
}

@media(max-width: 330px){
    .Singlecomment{
        width: 250px;
        min-height: 200px;
        
    }
}
